@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewData["Title"] = "Witamy";
}

@model info_2022.Models.ViewModels.HomeDataVM;

<!-- Kategorie -->
<div class="row text-center py-5">
    @foreach (var item in Model.DisplayCategories)
    {
        <div class="col-12 col-md-6 col-lg-4 my-3">
            <a class="text-primary" asp-action="Index" asp-controller="Texts" asp-route-Kategoria="@item.CategoryId"><i class="bi-@item.Icon" style="font-size: 4rem;"></i></a>
            <h2 class="oswald">@item.Name</h2>
            <p>@item.Description</p>
        </div>
    }
</div>
<!-- Autorzy -->
<!-- Dane adresowe -->